


   <div class="col" style="padding: 20px; ">
     <div class="card card-inverse " style= " background-color:#546E7A; border-color: #fff; " >
       <div class="card-block">
       	<h6>Character</h6>
        <p style="text-align: center;"><img src="img/character.jpg" class="img-responsive" style="max-width: 100%;"></p>
        <h5 class="card-title">{{character.name}}</h5>
         
        <p class="card-text"><b>{{character.gender}}</b></p>
        <a ng-href="#!/characters/{{character.url.split('/').pop()}}" class="btn btn-primary">Know More</a>
       </div>
     </div>
    </div>
