
<div class="col" style="padding: 20px;">																							
    <div class="card card-inverse card-success"  style= " background-color:#00796B; border-color: #fff;">
   		<div class="card-block">
   			<h6>House</h6>
    		<p style="text-align: center;"> <img src="img/house.png" class="img-responsive" style="max-width: 100%;"></p>
    		<h5 class="card-title">{{house.name}}</h5>
    		
    		<p class="card-text">Region :  <b>{{house.region}}</b></p>
    		<a ng-href="#!/house/{{house.url.split('/').pop()}}" class="btn btn-primary">Know More</a>
 	    </div>
    </div>
</div>